<!DOCTYPE html>
<html>
<head>
<style> 
div {
  background-color: lightgreen;
  inline-size: 70%;
  border-block-end-width: 10px;
  border-block-end-style: dotted;
}
</style>
</head>
<body>

<h2>border-block-end-style: dotted:</h2>
<div>
  <p>The border-block-end-style property defines the style of the border at the end in the block direction.</p>
</div>

</body>
</html>